{% extends "base.html" %}

{% load static %}

{% block page_content %}


<h1 style="text-align:center">Are learning problems hampering your child’s school work?</h1>
<br>
<h2 style="text-align:center">Struggling to cope due to reading, writing and learning challenges such as dyslexia, dyscalculia and dysgraphia?</h2>
<br>
<h3 style="text-align:center">Grace Therapy provides learning skills transfer in a caring, supportive, non-judgemental
  environment in Cape Town’s northern suburb, Durbanville.</h3>
<br>

<p><a href="dotnortje/">Educational Therapist Dot Nortje</a> has more than 40 000 hours of special needs and assistive education experience.

  She has the unique skill of truly connecting and communicating with kids
  (her “angels” as she calls them) and establishing a trusting relationship in which they feel loved and encouraged.
</p>
<h4>Learning to cope, coping to learn</h4>

<p>Dot is able to support children who have dyslexia, dyscalculia and dysgraphia
  to cope better with their learning difficulties and to gain increased self-confidence and improved scholastic results.</p>

<h4>Therapy sessions – convenient times and close to schools</h4>

<p>Sessions are usually conducted after school, so as to be least disruptive to the child.

  Consultations and therapy take place in modern, well equipped therapy rooms in central Durbanville.

  Computers and specialist assistive therapy equipment, and supplies for handcraft/play therapy are provided.

  The atmosphere is calm and welcoming. The learning therapy centre has been designed to be tranquil and non-threatening to a child who may be dealing with anxiety.
</p>
<a href="gracetherapy/">LEARN MORE ABOUT THE THERAPY CENTRE</a>


<h4>Identify the learning problem</h4>

<p>A professional evaluation or assessment will let you see the full picture of your child’s
  strengths and challenges. This, in turn, will help the educational therapist to
  make the most of your child’s strengths to ensure progress.
</p>


<h4>A holistic approach to helping learners with difficulties.</h4>

<p>Grace Therapy collaborates with educators and other professionals, including optometrists,
  audiologists, speech therapists, occupational therapists, educational psychologists and psychiatrists.</p>

<h4>Equip your child with life-long coping skills</h4>

<p>Through her training in minimal brain dysfunction and dyslexia (and other conditions), Dot
  offers hope and the prospects of increased self-esteem, better school results and the ability to
  function successfully in a world not usually attuned to the needs of those who struggle to read, write and “do sums”.</p>

<h4>Therapy sessions are presented to help your child in the following ways:</h4>

<ul>
  <li>Learn how to effectively decode (read) text. </li>
  <li>Acquire study skills and strategies for successful learning.</li>
  <li>Develop socially and emotionally to cope better.</li>
  <li>Improve poor self-esteem.</li>
  <li>Assist with severe frustration and anxiety due to incomplete tasks and limited time.</li>
  <li>To improve emotional stresses and environments. To teach them techniques to handle the situation.</li>
  <li>To prevent daydreaming due to an inability to read the letters and words in stories.</li>
  <li>To assist with problems of additions, omissions, substitutions, repetitions and reversals.</li>
  <li>To improve skills to help with problems such as laterality, mispronunciations and poor working memory.</li>
  <li>To improve auditory discrimination problems.</li>
  <li>To assist with multi-syllable words.</li>
  <li>To develop phonological awareness.</li>
  <li>To improve and develop literacy skills.</li>
  <li>To help with maths skills and terminology.</li>
  <li>To develop and teach sequencing of a story in a visual and auditory manner.</li>
</ul>

<h4>Support services for learning-challenged children</h4>

<p>Grace Therapy will help arrange concessions for your child such as getting the services
  of a scribe and/or a reader and to be allowed extra time once they’ve been referred
  to and tested by an educational psychologist.</p>

<h4>Assisted Learning or Remedial Learning? What’s the difference?</h4>

<ul>
  <li>In remedial learning, a learner’s specific difficulties are assessed,
    and a one-of-a-kind study path is tailor-designed for that learner to
    address his or her unique challenges. Learners usually remain in remedial learning for their whole school career.</li>
  <li>With assisted learning, learners benefit from immediate support,
    while still following the traditional curriculum. Assisted learning
    may be recommended for a learner of average to above average ability
    who has specific barriers to learning, such as ADHD, dyslexia, or an
    anxiety disorder. Learning takes place in a more individualised environment,
    where the child receives the support they need, which lowers their risk of falling behind their classmates. </li>
</ul>
<p>For your child to benefit from assisted learning he or she
  needs to be able to keep up with the basics of the mainstream
  curriculum. Learners who are unable to do so, usually benefit
  more from remedial learning, rather than assisted learning.</p>
{% endblock %}
