{% extends 'base.html' %}
{% block page_content %}




<div class="container">
  <div class="row justify-content-md-center">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" style='background-color:#63322A; color:white; border: solid 1px #ad9f9d;' data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

          <li>
            {% for item in cat_menu %}
            <a class="dropdown-item" href="{% url 'category' item %}">
            {{item}}
            </a>
            {%endfor%}
          </li>
        </ul>
      
      </div>
      <br><br>
      <h1>News and views from Grace Therapy</h1><br>
      <center><h6>This is where we share useful insights, knowledge and guidelines with parents and educators.</h6></center>
<br>



      <h2> {{ posts.count }} blog{{ posts.count|pluralize }} posted</h2>

      {% for post in page_obj.object_list %}

      <a href="{% url 'post_detail' post.slug %}"><h3>{{ post.title }}</h3></a>
      <h5> by {{ post.author }}</h5>
      <span>{{ post.date_added|date:'d F Y' }} <small><a href=" {% url 'category' post.category %}">{{ post.category }}</a></small></span>

      <p>{{ post.body|striptags|truncatechars:100 }}</p>
      {% endfor %}

      <br>
        <nav aria-label="">
          <ul class="pagination ">
            {%if page_obj.has_previous %} {# whether the previous page exists #}
            <a class="page-link btn" href="?page={{page_obj.previous_page_number}}">Previous</a>{# link to the prev page #}
            {% endif %}

            {%if page_obj.has_next %} {# whether the next page exists #}
            <a class="page-link btn" href="?page={{page_obj.next_page_number}}">Next</a>{# link to the next page #}
            {% endif %}
          </ul>
        </nav>

    </div>
  </div>
</div>



{% endblock %}
