{% extends "base.html" %}

{% load static %}

{% block page_content %}

<h3 style="text-align:center;">Dorothy Grace Nortje, Educational Therapist</h3>
<img src="{% static 'home/dot.jpg' %}" class="mx-auto d-block" style="max-width:40%; padding:2% 2% 2% 5%;">
<br>
<hr>
<blockquote>
  <pre style="text-align:center; font-weight:bold; font-size:large;">“My biggest gift that God has given me is a deep love and
understanding of children, to help them succeed by
developing them holistically and raising their self-esteem.”</pre>
</blockquote>
<hr>
<p>When parents entrust their child to my care and professional therapy,
  I commit to doing my utmost to guide and nurture the individual to overcome challenges and achieve success.
<br>
"I apply all of my expertise gained during a teaching and
therapy career spanning 42 years. I have built mutually
beneficial working relationships with teachers, educational
psychologists and psychiatrists for 13 years, and I am in the
fortunate position to be able to offer a holistic approach to
learning challenges in English and Afrikaans. My focus is on
equipping primary school learners and high school learners to cope with their immediate and lifelong challenges."
</p>

<h4>Remedial/assistive learning highlights</h4>
<p>"I have taught remedial, and opened several remedial centres and
  home-schooling centres, assisting thousands of children to become more confident, able adults.

The highly successful Dot’s Learning Centre at the Tyger Valley Waterfront
won awards for outstanding work and was named Centre of the Year for 2015 and 2016.

The centre was approved and registered as an independent school in terms of the Western Cape Provincial School Education Act.

I was the Head of the school. Our learners ranged from grades 1 to 12.

Curro Schools bought us over and changed the name to Curro Uitzicht.

I continued working as the Assistive/Support Head for grade 1 to grade 7 from 2017 to 2021.”
</p>

<h4>Further dyslexia training and learning therapy qualifications</h4>
<p><strong>2O21:</strong><br>
Successfully completed the SGDA Dyslexia Training Programme for Teachers –
a course run by Sandra Stark, Principal of Stark Griffin Dyslexia Academy.
<br><br>
<strong>Topics studied:</strong>
<ul>
  <li>Focus on Dyslexia strengths.</li>
  <li>Visual and auditory problems.</li>
  <li>Multisensory approaches.</li>
  <li>Emotional difficulties learners encounter.</li>
  <li>Study skills and strategies for successful learning.</li>
  <li>Developing a child socially and emotionally to cope.</li>
  <li>Concession accommodations for a learner to get a scribe,
  reader and extra time once they are tested by an educational psychologist.</li>
  <li>Learning about the 5 different categories of Dyslexia.</li>
  <li>Recognizing, finding signs and symptoms, early indicators.</li>
  <li>The Reading Brain, neuro-anatomical signs, phonological
  awareness, <div class="popup" onclick="myFunction()" style="color:blue;"><<u>Orton-Gillingham*</u><span class="popuptext" id="myPopup">

    * “The Orton-Gillingham Approach is a direct, explicit, multisensory, structured, sequential, diagnostic,
    and prescriptive way to teach literacy when reading, writing, and spelling does not come easily to individuals,
     such as those with dyslexia. It is most properly understood and practiced as an approach, not a method,
     program, or system. In the hands of a well-trained and experienced instructor, it is a powerful tool of
     exceptional breadth, depth, and flexibility.” Source: Orton-Gillingham

  </span></div>
     and Stark processing guides
  and teacher/parent support aids.</li>
</ul>
</p>
<br>
<p><strong>July 2021:</strong></p>
<p>Teacher’s Dyslexia Course at Stark Griffin Dyslexia Academy.</p>

<h4>Earlier teaching and Learning therapy qualifications</h4>
<ul>
  <li>Qualified in 1979 from the University of the Witwatersrand combined
    with the Johannesburg College of Education, as a Senior Primary School teacher.</li>
  <li>Achieved an Afrikaans/English language distinction and final practical distinction.</li>
</ul>
<p><strong>Subjects:</strong></p>
<p>Education, Psychology, School Guidance and Counselling, Practical teaching (distinction),
  Biological Science, Speech and Drama, Educational Aids,
  Health Education, History, Mathematics, Natural Science,
  Religious Instruction, Afrikaans and English.</p>
<ul>
  <li>Studied for a Minimal Brain Dysfunction (MBD) certificate for 2 years</li>
</ul>
<p><strong>Subjects:</strong></p>
<p>Orthopedagogics, Psychoneurological Aspects 1,
  Pedotherapeutic Practice 1 and 2, Diagnostics and Practical
  work with children with difficulties.</p>

<h4>What others say</h4>
<p>My learners’ parents and my colleagues generally regard me as “highly motivated, hardworking and
  reliable – a professional therapist who strives towards top quality servicing and overcoming challenges”.</p>

<h4>Earlier teaching and remedial teaching experience</h4>
<p><strong>1982-1984:</strong><br> Started Aid and Remedial classes, grade 6.<br><br>
  <strong>1984:</strong> <br>
  Taught grade 2 remedial classes, started up a Remedial department, implementing a remedial programme along with clinical services.
  <br><br>
  <strong>1985-1986:</strong> <br>
  Assisted a 21-year-old wheel-chaired student in Sandton to get his matric.
  <br><br>
  <strong>1987-2011:</strong><br>
  Started offering private remedial classes in Cape Town.<br>
  Taught remedial at Primary Schools for grades 1 - 7. <br>
Taught remedial in English and Afrikaans.<br>
Taught Maths and Study Skills.<br><br>
<strong>2012:</strong> <br>
Offered home study support to 20 students, using the Brainline package.
<br><br>
<strong>2013-2017:</strong> <br>
Opened Dot's Learning Centre at the Waterfront in
Tyger Valley with 20 learners using the Impaq programme.
The award-winning Independent School grew to 200 students.
</p>

<script>
// When the user clicks on div, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>

{% endblock %}
