{% extends "base.html" %}

{% load static %}

{% block page_content %}

<h4>A learning therapy centre, centred around the needs of each individual child</h4>
<p>In learning therapy and assistive learning, a cookie cutter approach cannot be effective.
   To discover and develop the individual child’s unique abilities takes one-to-one
   focus and commitment by a professional educational therapist. <br>

Each child is different. Every learner experiences his or her
challenges in a one-of-a-kind way. Consequently, each individual
can only be guided to deal with those obstacles in ways that suit his or her abilities.
</p>

<h4>Let’s arrange a session</h4>
<p>An assessment session lasting about 45 minutes will determine the best way forward
  for your child, once an educational psychologist has given a prognosis. You and
  your child will leave the session feeling understood and informed, bolstered by
  our years of experience and care.<br>
  At Grace Therapy Centre, assessment and therapy sessions are usually
  scheduled for after school, so as to be least disruptive to the child. <br>

  Consultations and therapy take place in modern, well equipped therapy rooms in central Durbanville. <br>

  Computers and assistive therapy technology offer high-tech solutions alongside
  more traditional tactile equipment and materials used in play therapy.
  A therapy session usually involves both “work” and “play”, each benefitting the individual in complementing ways.<br>

  A child who struggles with learning often deals with anxieties.
  For this reason the centre has been designed to be tranquil and
  non-threatening. The atmosphere of the therapy rooms is calm, welcoming and fun!<br>
</p>



{% endblock %}
