{% extends "base.html" %}

{% load static %}

{% block page_content %}
<h2>How remedial therapy can help your child</h2><br>
<h5>The objectives of remedial therapy are:</h5>
<ul>
  <li>To assist each learner with learning so that
    they can actualize their potentials. and become an effective, integral part of society.</li>
  <li>To help the learner attain social maturity.</li>
  <li>To assist with communication skills.</li>
  <li>To provide an intensive diagnostic study</li>
  <li>To teach word-sound associations, blending and consonants.</li>
  <li>To introduce simple sentence constructions and reading basic stories.</li>
  <li>To teach each learner visual sequentialization and discrimination: association and blending of letters in words.</li>
  <li>To teach auditory and visual discrimination skills to assist with word recognition and speech.</li>
  <li>To improve every learner’s distractibility, perseveration, disinhibition and hyperactivity by
    teaching methods of HOW to handle every situation with the least amount of stress.</li>
</ul>


{% endblock %}
