{% extends "base.html" %}

{% load static %}

{% block page_content %}

<h1 style="text-align:center">Understanding your child’s learning challenges</h1>
<h4 style="font:italic;">A few definitions, plus symptoms to look out for</h4>
<p>While only a professional assessment of the individual can determine with
  certainty the disorder your child may be dealing with, the following definitions
  are offered as guidelines.</p>

<h4>Definition of Dyslexia</h4>
<p>A learning disorder that can cause difficulties with reading, writing and spelling.</p>

<h4>Definition of Dysgraphia</h4>
<p>It is a neurological disorder of written expression. It impairs writing
  ability and fine motor skills, spelling and legibility, word spacing and expression.</p>

<h4>Definition of Dyscalculia</h4>
<p>It is a specific set of learning difficulties that affect a child’s ability to
  understand, learn, and perform maths and number-based operations.</p>

<h4>Definition of Remedial</h4>
<p>A plan of action to focus on basic concepts and better study habits, before
  going for therapy to improve your abilities.</p>

<h3>Signs and symptoms of dyslexia</h3>
<p>The following are signs to be aware of. Make a note of the situation and
  circumstances when you notice any of these signs and share it with your child’s therapist.</p>

  <h5>Coordination</h5>
  <table>
    <tr>
      <th>Signs</th>
      <th>Symptoms</th>
    </tr>
    <tr>
      <td><ul>
        <li>The child is unable to coordinate tasks that should come naturally.</li>
        <li>Poor pencil grip.</li>
        <li>Poor fine-motor tasks, such as threading beads.</li>
      </ul></td>
      <td><ul>
        <li>General clumsiness.</li>
        <li>Difficulty with eye-hand coordination.</li>
        <li>Sporting activities could be problematic.</li>
        <li>Struggles with tying shoelaces, fastening shirt buttons.</li>
      </ul></td>
    </tr>
  </table>
<br>
<h5>Writing and memory</h5>
<table>
  <tr>
    <th>Signs</th>
    <th>Symptoms</th>
  </tr>
  <tr>
    <td><ul>
      <li>Difficulty revising for exams and tests.</li>
      <li>Weak short-term memory.</li>
      <li>Inconsistent writing style.</li>
      <li>Is fatigued when writing for long periods.</li>
    </ul></td>
    <td><ul>
      <li>Is responsible for perception and linguistic skills. (Language.)</li>
      <li>Struggles during examinations. Exam markers cannot read answers as handwriting is too poor.</li>
      <li>Struggles to remember homework and timetables.</li>
    </ul></td>
  </tr>
</table>
<br>

<h5>Spelling</h5>
<table>
  <tr>
    <th>Signs</th>
    <th>Symptoms</th>
  </tr>
  <tr>
    <td><ul>
      <li>Difficulty in pulling words apart into separate sounds and blending sounds together to make words.</li>
    </ul></td>
    <td><ul>
      <li>The learner has difficulty learning to match
        letter symbols with speech sounds (Phonics). Examples: p+at, farm+er, m+oo+n.</li>
      <li>Difficulty with spelling rules.</li>
    </ul></td>
  </tr>
</table>
<br>

<h5>Reading</h5>
<table>
  <tr>
    <th>Signs</th>
    <th>Symptoms</th>
  </tr>
  <tr>
    <td><ul>
      <li>The child reads with additions, omissions, substitutions, repetitions and reversals.</li>
    </ul></td>
    <td><ul>
      <li>Difficulty recognizing sounds.</li>
      <li>Struggles to make up sounds by combining letters, like “ph” and “th”,
         and to remember these sounds in words, now and at a later stage.</li>
      <li>Reading is slow and hesitant.</li>
      <li>Reluctant to read at home or for pleasure.</li>
      <li>Low self-esteem.</li>
      <li>Has no idea of punctuation and misreads simple words such as “saw” and “was”.</li>
      <li>Reluctant to read aloud.</li>
    </ul></td>
  </tr>
</table>
<br>

<h5>Laterality Confusion</h5>
<table>
  <tr>
    <th>Signs</th>
    <th>Symptoms</th>
  </tr>
  <tr>
    <td><ul>
      <li>The child forms letter shapes incorrectly, and
        reverses or write mirror-images of letters. Examples: B/D, f/j, b/d, s/z.</li>
    </ul></td>
    <td><ul>
      <li>Lacks internal awareness of the two sides of the body, and important skill needed for directionality.</li>
      <li>Not easy to identify up, down, left and right.</li>
    </ul></td>
  </tr>
</table>
<br>

<h5>Daydreaming and Concentration</h5>
<table>
  <tr>
    <th>Signs</th>
    <th>Symptoms</th>
  </tr>
  <tr>
    <td><ul>
      <li>Lack of concentration when spoken to.</li>
      <li>Can’t read flowingly or keep up with comprehending a read piece.</li>
    </ul></td>
    <td><ul>
      <li>Tired easily.</li>
      <li>Loses concentration.</li>
      <li>Cannot decipher symbols and end up “daydreaming”.</li>
      <li>When required to read, the child is confronted by symbols of language which they find confusing.</li>
    </ul></td>
  </tr>
</table>
<br>

<h5>Frustration/Emotional</h5>
<table>
  <tr>
    <th>Signs</th>
    <th>Symptoms</th>
  </tr>
  <tr>
    <td><ul>
      <li>The child is frustrated, as they don’t complete tasks in time correctly.</li>
      <li>Becomes nervous and anxious is assessment and examination situations.</li>
    </ul></td>
    <td><ul>
      <li>Written assignments are unfinished.</li>
      <li>The child has the knowledge but cannot write it down.</li>
      <li>The child withdraws, looks shy.</li>
      <li>The child presents with behavioural problems.</li>
    </ul></td>
  </tr>
</table>
<br>
<h4>Experiencing any of the symptoms above isn’t a definite sign of dyslexia.</h4>
<p>A formal diagnosis only comes after testing reading, language,
  and writing skills. A child, furthermore, could have more than
  one learning or mental disorder, like attention deficit hyperactivity disorder (ADHD).</p>


<style>
  table, th, td {
    border: 1px solid black;
    text-align:left;
    padding: 8px;
    table-layout: fixed;
    width: 100%;
  }
</style>



{% endblock %}
